body {
  background-color: lightsteelblue;
}
.banner {
  float:left;
  width: 100%;
  height: 150px;
  vertical-align: text-top;
  overflow: hidden;
  background-image: url(./banner.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: local;
}
